body {
    font-family: 'Open Sans', sans-serif;
    background: url(../img/bgh.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

header {
	margin: 20px;
}

nav ul{
	background-color: #DAA520;
	overflow: hidden;
	color: white;
	padding-left: 20px ;
	text-align: center;
	transition: max-height 0.5s;
	width: 1100px;
	min-height: 100%;
	float: right;
}

nav ul li{
	float: right;
	margin-right: 30px;
	display: inline-block;
	padding: 15px;
}

nav ul li a{
	text-decoration: none;
	color: inherit;
}

nav ul li:hover{
	background-color: #B8860B;
}

.text-cari {
    width: 80%;
    height: 35px;
    padding-left: 10px;
}

.button-cari {
    border: none;
    background: #daa520;
    min-width: 17%;
    height: 35px;
}

.fa-stack, .fa-lg {
	margin: 3px;
}

.navbar{
    background: none;
    border:none;
    margin-bottom: 0px;
	height: 30px;		
}

.content {
	padding: 20px;
	width: 1170px;
	margin-left: -15px;
	background: #fff;
	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
	min-height: 600px;
}

.btn {
	text-shadow: none;
}

.footer {
	width: 100%;
	height: 50px;
	background-image: url(../img/footer.png);
	line-height: 50px;
}

.footer p {
	color: #fff;
}

.customDiv {
	margin: 5px;
	padding: 20px;
	min-height: 100px;
	background: #eeeeff;
	border-radius: 3px;
	overflow: auto;
}

.postDiv {
	padding: 5px;
}



.postMargin {
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.underlined {
	width: 50%;
	border-top: 2px solid #666;
}

.postDiv hr {
	width: 50%;
	border-top: 3px solid #ccc;
	margin-top: -3px;
}

.login {
	background: url(../img/bgl.jpg);
	position: absolute;
	top: 214px;
	height: 50px;
	width: 86.8%;
}

.loginbot {
	position: relative;
	top: 500px;
}

.left_content{
	float: left;
	height: 500px;
	width: 25%;
}
.left_content img{
	height: 180px;
	width: 150px;
	background-color: #cccccc;
	margin-top:20px;
	margin-left: 60px;
}
.left_content ul{
	float: left;
	text-decoration: none;
	margin-top: 20px;
	margin-left: -20px;
	width: 100%;
}
.right_content{
	float: right;
	height: 600px;
	width: 73%;
}

.title1 {
	margin-top: 20px;
	width: 97%;
	background: #cccccc;
	height: 30px;
	border-radius: 5px;
}

.art1{
	margin-top: 10px;
	width: 97%;
	height: 350px;
	border-top: 3px solid red; 
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}


.title2 {
	margin-top: 25px;
	width: 97%;
	background: #DAA520;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.art2{
	border: 1px solid #cccccc;
	width: 97%;
}

.table_mhs {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
}
 
.table_mhs {
    border: 1px solid #999;
    padding: 8px 20px;
}
.table_mhs tr{
	border: 1px solid #999;
}
.table_mhs th{
	border: 1px solid #999;
	text-align: center;
}
.title1 p{
	color: black;
	font-weight: bold;
	padding: 5px;	
	margin-left: 10px;
}

.title2 p{
	color: black;
	font-weight: bold;
	padding: 5px;
	margin-left: 10px;
}

.art2 p{
	color: black;
	padding: 5px;
	margin-left: 10px;
}





